.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  margin: 2em;
}

.logo {
  width: 150px;
}

.logo img {
  height: 50px;
  width: 100px;
}

.logo:hover img {
  height: 55px;
  width: 150px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.nav-link {
  color: #8f04a8;
}

.nav-link:hover {
  color: #c26bd1;
  text-decoration: none;
  /*text-shadow: #c26bd1 0 0 1px; /* толщина тени */
}

.nav-link:not(:hover) {
  text-decoration: none;
}

.nav-link.active {
  text-decoration: underline;
}

.nav-link.active:not(:hover) {
  color: #bc38d3;
}

.cart {
  display: flex;
  align-items: center;
}

.cart-link {
  color: #8f04a8;
}

.cart-link:hover {
  color: #c26bd1;
}

.cart-link:not(:hover) {
  text-decoration: none;
}

.cart-link.active {
  text-decoration: underline;
  color: #bc38d3;
}

.cart img {
  padding-right: 5px;
  height: 17px;
  width: 20px;
}
