@import "../app.component.css";

.model {
  display: flex;
  justify-content: flex-start;
  height: 400px;
  margin: 0;
}

.model-swiper {
  height: 100%;
  width: 300px;
  margin-right: 3em;
}

.model-params {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

.model-text {
  margin: 0;
  margin-top: 1em;
}

.model-description {
  background-color: #ffffff;
  height: 100px;
}

.model-size {
  border: 1px solid #000000;
  border-radius: 1vh;
  margin: 0 0.5em;
}
