<div class="order">
  <h1 class="title">{{ "оформление заказа" | uppercase }}</h1>
  <form [formGroup]="orderForm" (ngSubmit)="submitForm()">
    <div class="contact">
      <h2 class="subtitle">Контактные данные</h2>
      <div class="information">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Ф.И.О.</mat-label>
            <input matInput formControlName="name" />

            <mat-error *ngIf="orderForm.controls['name'].hasError('required')">
              Обязательное поле
            </mat-error>
          </mat-form-field>
        </form>

        <!-- <div class="row">
          <label for="name" class="input-label">Ф.И.О.</label>
          <input
            id="name"
            class="form-input"
            type="text"
            formControlName="name"
          />
          <div
            *ngIf="
              this.getFormControl('name')?.invalid &&
              (this.getFormControl('name')?.touched ||
                this.getFormControl('name')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('name')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
          </div>
        </div> -->

        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-error
            *ngIf="
              orderForm.controls['email'].hasError('email') &&
              !orderForm.controls['email'].hasError('required')
            "
          >
            Пожалуйста, введите корректный email
          </mat-error>
          <mat-error *ngIf="orderForm.controls['email'].hasError('required')">
            Это <strong>обязательное</strong> поле
          </mat-error>
        </mat-form-field>

        <!-- <div class="row">
          <label for="email" class="input-label">Электронная почта</label>
          <input
            id="email"
            class="form-input"
            type="email"
            formControlName="email"
          />
          <div
            *ngIf="
              this.getFormControl('email')?.invalid &&
              (this.getFormControl('email')?.touched ||
                this.getFormControl('email')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('email')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
            <span *ngIf="this.getFormControl('email')!['errors']!['email']"
              >Пожалуйста, введите корректный email</span
            >
          </div>
        </div> -->

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Телефон</mat-label>
            <span matPrefix> +7 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234" />
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>

        <!-- <div class="row">
          <label for="phone" class="input-label">Телефон</label>
          <input
            id="phone"
            class="form-input"
            type="tel"
            formControlName="phone"
          />
          <div
            *ngIf="
              this.getFormControl('phone')?.invalid &&
              (this.getFormControl('phone')?.touched ||
                this.getFormControl('phone')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('phone')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
            <span *ngIf="this.getFormControl('email')!['errors']!['required']"
              >Некорректный номер</span
            >
          </div>
        </div> -->

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Комментарий</mat-label>
            <input matInput #message maxlength="256" />
            <mat-hint align="start"> </mat-hint>
            <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
          </mat-form-field>
        </form>

        <!-- <div class="row">
          <label for="comment" class="input-label">Комментарий</label>
          <input
            id="comment"
            class="form-input"
            type="text"
            formControlName="comment"
          />
        </div>-->
      </div>
    </div>

    <div class="delivery">
      <h2 class="subtitle">Доставка</h2>
      <div class="information">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Страна</mat-label>
            <input matInput formControlName="country" />
            <mat-error
              *ngIf="orderForm.controls['country'].hasError('required')"
            >
              Обязательное поле
            </mat-error>
          </mat-form-field>
        </form>

        <!--<div class="row">
          <label for="country" class="input-label">Страна</label>
          <input
            id="country"
            class="form-input"
            type="text"
            formControlName="country"
          />
          <div
            *ngIf="
              this.getFormControl('country')?.invalid &&
              (this.getFormControl('country')?.touched ||
                this.getFormControl('country')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('country')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
          </div>
        </div> -->

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Адрес</mat-label>
            <input matInput formControlName="address" />
            <mat-error
              *ngIf="orderForm.controls['address'].hasError('required')"
            >
              Обязательное поле
            </mat-error>
          </mat-form-field>
        </form>

        <!--<div class="row">
          <label for="address" class="input-label">Адрес</label>
          <input
            id="address"
            class="form-input"
            type="text"
            formControlName="address"
          />
          <div
            *ngIf="
              this.getFormControl('address')?.invalid &&
              (this.getFormControl('address')?.touched ||
                this.getFormControl('address')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('address')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
          </div>
        </div> -->

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Город</mat-label>
            <input matInput formControlName="city" />
            <mat-error *ngIf="orderForm.controls['city'].hasError('required')">
              Обязательное поле
            </mat-error>
          </mat-form-field>
        </form>

        <!--<div class="row">
          <label for="city" class="input-label">Город</label>
          <input
            id="city"
            class="form-input"
            type="text"
            formControlName="city"
          />
          <div
            *ngIf="
              this.getFormControl('city')?.invalid &&
              (this.getFormControl('city')?.touched ||
                this.getFormControl('city')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('city')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
          </div>
        </div> -->

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Индекс</mat-label>
            <input matInput formControlName="index" />
            <mat-error *ngIf="orderForm.controls['index'].hasError('required')">
              Обязательное поле
            </mat-error>
          </mat-form-field>
        </form>

        <!--<div class="row">
          <label for="index" class="input-label">Индекс</label>
          <input
            id="index"
            class="form-input"
            type="number"
            formControlName="index"
          />
          <div
            *ngIf="
              this.getFormControl('index')?.invalid &&
              (this.getFormControl('index')?.touched ||
                this.getFormControl('index')?.dirty)
            "
          >
            <span *ngIf="this.getFormControl('index')!['errors']!['required']"
              >Это <strong>обязательное</strong> поле</span
            >
          </div>
        </div>-->
      </div>
    </div>

    <div class="information">
      <div class="delivery-method-choosing">
        <h2 class="subtitle">Способ доставки</h2>
        <div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="delivery"
            [labelPosition]="'before'"
          >
            <div class="radio-row">
              <mat-radio-button class="radiobutton" value="Самовывоз">
                Самовывоз
              </mat-radio-button>
            </div>

            <div class="radio-row">
              <mat-radio-button class="radiobutton" value="Курьер">
                Курьер
              </mat-radio-button>
            </div>

            <div class="radio-row">
              <mat-radio-button class="radiobutton" value="Почта">
                Почта
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>

      <div class="pay-method-choosing">
        <h2 class="subtitle">Способ оплаты</h2>
        <div>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="pay"
            [labelPosition]="'before'"
          >
            <div class="radio-row">
              <mat-radio-button class="radiobutton" value="Наличный расчет">
                Наличный расчет
              </mat-radio-button>
            </div>

            <div class="radio-row">
              <mat-radio-button class="radiobutton" value="Безналичный расчет">
                Безналичный расчет
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </form>
  <div class="btn-styles">
    <button type="submit" [disabled]="orderForm.invalid" class="btn">
      {{ "подтвердить заказ" | uppercase }}
    </button>
  </div>
</div>
