.order {
  margin: 0 20em;
}

.title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.subtitle {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 0.5em;
}

.information {
  display: grid;
  grid-column-gap: 5em;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
}

.row {
  margin-bottom: 0.5em;
}

.form-input {
  width: 100%;
  height: 1.5em;
  border-radius: 0.5em;
  border: 1px solid #333333;
  margin-top: 0.5em;
  padding: 0.5em;
}

.delivery-method-choosing {
  margin-bottom: 2em;
}

.pay-method-choosing {
  display: grid;
  grid-column-gap: 5em;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2em;
}

.radio-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4em;
  border-radius: 0.5em;
  background-color: #ffffff;
  border: 1px solid #333333;
  margin-bottom: 1em;
}

.mat-mdc-radio-button {
  width: 100% !important;
  /* цвет фигуры */
  --mdc-radio-disabled-selected-icon-color: #ff0000;
  --mdc-radio-disabled-unselected-icon-color: #ff0000;
  --mdc-radio-unselected-focus-icon-color: #bc38d3; /* нажатие и отведение */
  --mdc-radio-unselected-hover-icon-color: #bc38d3; /* наведение */
  --mdc-radio-unselected-icon-color: #c262d3; /* изначальный */
  --mdc-radio-unselected-pressed-icon-color: #8f04a8; /* удержание */
  --mat-mdc-radio-ripple-color: #c262d3; /* фон предвыбора */
  --mdc-theme-text-primary-on-background: #333333;
}

.mat-accent {
  /* цвет выбора */
  --mdc-radio-selected-focus-icon-color: #ff0000 !important;
  --mdc-radio-selected-hover-icon-color: #c26bd1 !important; /* наведение */
  --mdc-radio-selected-icon-color: #bc38d3 !important; /* выбранный */
  --mdc-radio-selected-pressed-icon-color: #8f04a8 !important; /* удержание */
  --mat-mdc-radio-checked-ripple-color: #c26bd1 !important; /* фон */
}

.ng-invalid.ng-touched {
  border-color: #ff3333;
}

.btn-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
