@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 4em;
  border-radius: 3vh;
  --swiper-theme-color: #ff0000;
  --swiper-navigation-size: 50px;
  font-weight: 500;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #333;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 35px;
  width: 250px;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  border-radius: 2vh;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.content {
  min-height: calc(100vh - 128px - 6em);
  margin: 2em;
}
