.video {
    height: 42vw;
    width: 96%;
    margin: 2%;
}

.news-title {
    text-align: center;
    font-weight: normal;
}

.news-blocks {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 2%;
}

.news-block {
    background-color: #cccccc;
    border-radius: 3%;
    height: 50vh;
    width: 45vw;
}