.video-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  height: 75%;
  width: 75%;
  margin-bottom: 2em;
  border-radius: 3vh;
}

.news-title {
  text-align: center;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1em;
}

.news-blocks {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.news-block {
  background-color: #cccccc;
  border-radius: 3vh;
  min-height: 50vh;
  padding: 1em;
}

@media screen and (max-width: 767px) {
  .video {
    height: 100%;
    width: 100%;
  }

  .news-blocks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .news-block {
    min-height: 25vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 989px) {
  .video {
    height: 90%;
    width: 90%;
  }

  .news-blocks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .news-block {
    min-height: 25vh;
  }
}
@media screen and (min-width: 990px) {
}
